body {
  margin: 0;
  font-family: 'Lobster Two', ;

}

header {
  height:150px ;
  background-image: url('./tdih-april23-HD.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serift;
  text-align: left;
color:orangered;
  font-size: 60px;

}

ul{
  text-align: left;
}
nav{
  text-align: center;
}

h1{
  text-align: center;
}

.wil{
  
  width:150px;
  display: inline;

  
  
}
.AddNew{
  text-align:center;
}

.Aboutit{
font-size: 17px;
text-align: justify;
}
