body {
  margin: 0;
  font-family: "Simonetta";
}

header {
  height: 290px;
  background-image: url("./tdih-april23-HD.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Courgette";
  text-align: left;
  color: white;
  font-size: 50px;
}

ul {
  text-align: left;
}
nav {
  text-align: center;
  font-size: 20px;
  color: hsl(hue, saturation, lightness);
  font-family: "Simonetta";
}

h1 {
  text-align: center;
  font-family: "Simonetta";
  margin: 20px;
}
h3 {
  text-align: center;
  margin: 30px;
  font-family: "Simonetta";
}
.AddNew {
  text-align: center;
}
button {
  font-family: "Simonetta";
  margin: 2px 1px 6px 6px;
  border-radius: 5px;
}
.submit {
  width: px;
  margin: auto 20px;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Simonetta";
}
.titleofLits {
  font-family: "Lobster Two";
}
.titleofLit {
  font-family: "Simonetta";
  margin: 15px;
  font-size: 20px;
}
.Aboutit {
  font-size: 17px;
  text-align: justify;
}
.paragraphLi {
  font-size: 20px;
  font-family: "Courgette";
  margin: 20px;
  padding: 20px;
  justify-self: start;
}
.titleSeacrh {
  margin: 20px;
  padding: auto;
}

#forStyles {
  align-items: center;
}

#comment {
  margin: 10px 20px;
  width: 400px;
  height: 200px;
}
#addtitle {
  margin: 10px 20px;
  width: 400px;
}

.TitleOfInput {
  margin: 10px 20px;
  font-family: "Courgette";
}

.parahrapOfAbout {
  margin: 10px 20px;
  justify-content: center;
  font-size: 20px;
  font-family: "Gentium Book Basic";
}
